/* page styling */
.calculator-container{
  display: flex;
  justify-content: center;
  text-align: center;
  margin:10%;
}

/* border for calculator */
  .border{
    border: 5px solid black;   
    padding: 30px;
    width: 600px;
  }

  /* headings for each section */
    .title{
      font-size: 16px;
      display: inline-block;
    }

    /* entery bars */
      .values{
        width: 40%;
        height: 20px;
        height: 2rem;
      }

      /* button to click */

      #btn{
        background:black;
        color: white;
        margin: 15px;
        width: 40%;
        height: 2rem;
        border-radius: 5px;
      }