body{
  font-family: 'Roboto', sans-serif;
}

/* page styling */
.calculator-container{
  display: flex;
  justify-content: center;
  text-align: center;
  margin:10%;
}

/* border for calculator */
  .border{
    border: 5px solid black;   
    padding: 30px;
    width: 600px;
  }

  /* headings for each section */
    .title{
      font-size: 18px;
      display: inline-block;
    }

    /* entery bars */
      .values{
        width: 50%;
        height: 20px;
        height: 2rem;
      }

      /* button to click */

      #btn{
        background:black;
        color: white;
        margin: 3rem;
        width: 50%;
        height: 2.5rem;
        border-radius: 5px;
      }

      #btn:hover{
        cursor: pointer;
      }